body {
  /* set up beautiful background color */
  background: linear-gradient(to right, #ec6ead, #3494e6);
}
/* Design the main div container that will contain all of the css and html*/
.cartoon {
  width: 90vmin;
  height: 90vmin;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: 5%;
}
/* Design the face container that will contain all the elements of my face*/
.face {
  position: relative;
  width: 45%;
  height: 60%;
  background: hsl(24, 60%, 71%);
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0);
  border-radius: 60% 60% 120% 120%;
}
.glasses {
  position: relative;
  justify-content: space-between;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  display: flex;
}
/* Do the glasses design */
.glass {
  position: relative;
  width: 100%;
  height: 72px;
  border: 10px solid #93a2ab;
  margin-top: 24px;
  border-radius: 100%;
}
.frameLeft {
  position: relative;
  width: 20%;
  height: 60px;
  border-left: 12px solid #93a2ab;
  transform: rotate(-45deg) translate(20px, -4px);
}

.frameRight {
  position: relative;
  width: 22%;
  height: 67px;
  border-left: 12px solid #93a2ab;
  transform: rotate(45deg) translate(12px, -4px);
}
.frameMid {
  position: relative;
  width: 18%;
  height: 50px;
  border-left: 12px solid #93a2ab;
  transform: rotate(90deg) translate(40px);
}
/* Do the eyes design */
.eyes {
  position: absolute;
  justify-content: space-between;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  height: 70%;
  display: flex;
}

.eye {
  background-color: white;
  border-top: 4px solid hsl(24, 54%, 62%);
  border-bottom: 4px solid hsl(24, 54%, 62%);
  width: 33%;
  height: 14%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.eye::before {
  content: "";
  right: 21%;
  top: 7%;
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #542a0e;
  border-radius: 100%;
}

.eye::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 20%;
  width: 20%;
  height: 40%;
  background-color: #171313;
  border-radius: 100%;
}
/* Draw the mouth  */
.mouth {
  --rotation: 5deg;
  --translation: -50%;
  width: 50%;
  position: absolute;
  content: "";
  height: 12%;
  border-radius: 100%;
  box-shadow: -0.9vmin 1.7vmin 0 -1vmin;
  top: 66%;
  left: 50%;
  transform: translateX(var(--translation)) rotate(var(--rotation));
}
/* Create the nose */
.nose {
  width: 20%;
  height: 12%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0.5vmin -0.5vmin;
  background: hsl(24, 60%, 71%);
  position: absolute;
  content: "";
}
/* Get the brows done */
.brows {
  position: absolute;
  justify-content: space-between;
  top: 22%;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  height: 15%;
  display: flex;
}

.brow {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 34%;
  margin-top: 6%;
  border-top: 15px solid black;
  border-bottom: 18px solid hsl(24, 60%, 71%);
  border-radius: 100%;
}
/* Do the ears design */
.ears {
  position: absolute;
  justify-content: space-between;
  top: 22%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 25%;
  display: flex;
  z-index: -1;
}

.earRight {
  width: 10%;
  height: 85%;
  transform: translateX(28px);
  background: hsl(24, 63%, 69%);
  border-radius: 0 100% 100% 0;
  position: relative;
}

.earLeft {
  position: relative;
  width: 10%;
  height: 85%;
  transform: translateX(-28px) rotate(180deg);
  z-index: 3;
  background: hsl(24, 63%, 69%);
  border-radius: 0 100% 100% 0;
}
/* Do the hair design */
.hair {
  width: 100%;
  height: 30%;
  background: #321e1e;
  top: 0%;
  left: 51%;
  position: absolute;
  border-radius: 20vmin 25vmin 20vmin 10vmin / 100%;
  transform: translate(-50%, 0) translateY(-30px);
}
/* Do the side of my hair design*/
.hair-back {
  position: relative;
  width: 48%;
  height: 25%;
  border-radius: 40% / 100%;
  background: #321e1e;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -90%);
}

/* Animanting the text and making its design  */
.text {
  font-family: "Abril Fatface", sans-serif;
  background: linear-gradient(to right, crimson, pink, springgreen);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 1);
  font-size: 4rem;
  width: 100vw;
  margin: 3px;
  display: inline-block;
  text-align: center;
  transition: color 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}
.text:hover {
  color: rgba(0, 0, 0, 0);
  cursor: pointer;

}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

/* face animation on-hover */
.cartoon *,
.cartoon *::before,
.cartoon *::after {
  transition: all 380ms ease-in-out;
}

/* eyes */
.cartoon:hover .eye::before {
  top: 1%;
  right: 50%;
  transform: translateX(50%);
}

.cartoon:hover .eye::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* eyebrows */
.cartoon:hover .brows {
  top: 20%;
}

.cartoon:hover .brow:nth-child(1) {
  transform: skewY(-10deg);
}

.cartoon:hover .brow:nth-child(2) {
  transform: skewY(10deg);
}

/* smile */
.cartoon:hover .mouth {
  width: 60%;
  box-shadow: 0 1.7vmin 0 -1vmin;
  transform: translateX(var(--translation))
    rotate(calc(var(--rotation) - 10deg));
}

/* Making the design responsive  */
@media only screen and (max-width: 600px) {
  .hair-back {
    position: relative;
    width: 50%;
    height: 26%;
    border-radius: 40% / 100%;
    background: #321e1e;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -90%);
  }
  .brow {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 34%;
    margin-top: 6%;
    border-top: 8px solid black;
    border-radius: 100%;
  }

  .earRight {
    width: 10%;
    height: 85%;
    transform: translateX(15px);
    background: hsl(24, 63%, 69%);
    border-radius: 0 100% 100% 0;
  }
  .earLeft {
    width: 10%;
    height: 85%;
    transform: translateX(-15px) rotate(180deg);
    background: hsl(24, 63%, 69%);
    border-radius: 0 100% 100% 0;
  }

  .glass {
    position: relative;
    width: 100%;
    height: 42px;
    border: 6px solid #93a2ab;
    margin-top: 15px;
    margin-left: 5px;
    border-radius: 100%;
  }

  .frameLeft {
    position: relative;
    width: 20%;
    height: 40px;
    border-left: 6px solid #93a2ab;
    transform: rotate(-45deg) translate(10px, 3px);
  }

  .frameRight {
    position: relative;
    width: 22%;
    height: 42px;
    border-left: 6px solid #93a2ab;
    transform: rotate(45deg) translate(1px, -1px);
  }
  .frameMid {
    position: relative;
    width: 18%;
    height: 32px;
    border-left: 6px solid #93a2ab;
    transform: rotate(90deg) translate(20px, -1px);
  }
}
